Source: lockrun
Section: misc
Priority: extra
Maintainer: Allard Hoeve <allard@byte.nl>
Uploaders: Gertjan Oude Lohuis <gertjan@byte.nl>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.1

Package: lockrun
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: prevent a cron running multiple times
  Lockrun provided a way to make sure a crontask isn't running multiple times
  without having to worry about any code
